<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Basic Tags</title>
</head>
<body>
    <h1>Week06 | Introduction to HTML</h1>

    <h1>Sample</h1>
    <h2>Sample</h2>
    <h3>Sample</h3>
    <h4>Sample</h4>
    <h5>Sample</h5>
    <h6 style="background-color: yellow;">Sample</h6>

    <div style="background-color: yellow;">
        I'm a div
    </div>
    <div style="background-color: green;">
        I'm a div
    </div>
    <main>
        <article>
            <header>I'm a header</header>
            <div>
                <p style="color: blue;">
                    In May, the two sides agreed to drastically roll back tariffs on each other’s 
                    goods for an initial 90-day period. The mood was upbeat. However, sentiment 
                    soured quickly over two major sticking points: China’s control over so-called 
                    rare earths minerals and its access to semiconductor technology originating from the US.
                </p>
            </div>
        </article>
    </main>
    <br/>
    <nav>
        <a href="/" target="_self"> Home</a>
        <a href="/list" target="_self"> List</a>
        <a href="/order" target="_self"> Order</a>
        <a href="/media" target="_self"> Media</a>
    </nav>

</body>
</html>