<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <h1>Order List</h1>
    <table border="1">
        <caption>Table 1 : Order</caption>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>O001</td>
            <td>P001</td>
            <td>iPhone 16</td>
            <td>1</td>
            <td>$1200.00</td>
            <td>$1200.00</td>
        </tr>
        <tr>
            <td>O002</td>
            <td>P002</td>
            <td>Macbook Pro 16</td>
            <td>2</td>
            <td>$2000.00</td>
            <td>$4000.00</td>
        </tr>
        <tr>
            <td  rowspan = 2>O003</td>
            <td>P002</td>
            <td>Macbook Pro 16</td>
            <td>1</td>
            <td>$2000.00</td>
            <td>$2000.00</td>
        </tr>
        <tr>
            <td>P003</td>
            <td>Google Pixel XL 3</td>
            <td>2</td>
            <td>$750.00</td>
            <td>$1500.00</td>
        </tr>
        <tr>
            <td>O004</td>
            <td>P005</td>
            <td>Magic Mouse</td>
            <td>1</td>
            <td>$150.00</td>
            <td>$150.00</td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="5">Order Total</td>
                <td>$8850.00</td>
            </tr>
        </tfoot>
    </tbody>
    </table>
    <nav>
        <a href="/" target="_self"> Home</a>
        <a href="/list" target="_self"> List</a>
        <a href="/order" target="_self"> Order</a>
        <a href="/media" target="_self"> Media</a>
    </nav>
</body>
</html>