git rm -r --cached Assignments/Assignment3/node_modules/
Assignments/Assignment3/node_modules/
Assignments/Assignment3 - Copy/node_modules/
Classes/WEEK7/styleApp/node_modules
Assignments/Assignment4/node_modules/