<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ccs/theme.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar', {page: ''})%>
    <div class="container mt-5">
        <div class="row">
            <main class="col-md-12 text-center">
                <h1 class="display-1">404 - Not Found</h1>
                <p class="lead">Sorry, the page you are looking for does not exist.</p>
                <a href="/" class="btn btn-primary">Go to Home</a>
            </main>
        </div>
    </div>
</body>
</html>